<html>
  <head>
    <meta charset="UTF-8">
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="icon" href="/assets/logos/ciencia.png" type="image/icon /type"/>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <title>Success!</title>
  </head>
  <style>
    body {
      text-align: center;
      padding: 40px 0;
      background: #ebf0f5;
    }
    h1 {
      color: #88b04b;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    p {
      color: #404f5e;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size: 20px;
      margin: 0;
    }
    i {
      color: #9abc66;
      font-size: 100px;
      line-height: 200px;
      margin-left: -15px;
    }
    .card {
      background: white;
      padding: 60px;
      border-radius: 4px;
      box-shadow: 0 2px 3px #c8d0d8;
      display: inline-block;
      margin: 0 auto;
    }
  </style>
  <body>
    <div class="d-flex justify-content-start">
        <a href="/" class="sh4" style="margin-left:5px; text-decoration: none; color: black;"><div class=" border border-dark"><h5>BACK</h5><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
      </svg></div></a>
    </div>
    <div class="card w-75 bg-secondary bg-gradient">
      <div
        style="
          border-radius: 200px;
          height: 200px;
          width: 200px;
          background: #d2e2bb;
          margin: 0 auto;
        "
      >
        <i class="checkmark">✓</i>
      </div>
      <h1>Success!</h1>
      <p class="h4 text-black">Your unique ID is: <%= uniqID %></p>
      <p class="h2 text-primary">IMPORTANT</p>
      <p class="h4 text-black">
        Please! note your ID or Take a screenshot of the ID
      </p>
      <p class="text-black">Screenshot <kbd>power+volumedown</kbd></p>
      <p class="text-black">Your unique ID is combination of</p>
      <div class="card-body text-black" style="padding: 0;text-align: left;">
        <p class="text-black">● First three characters from Name field</p>
        <p class="text-black">● Day from the Birthday field</p>
        <p class="text-black">● Last three characters from Phone number field</p>
      </div>
    </div>

  </body>
</html>