<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
      rel="stylesheet"
    />
    <title>Success!</title>
  </head>
  <style>
    body {
      text-align: center;
      padding: 40px 0;
      background: #ebf0f5;
    }
    h1 {
      color: #88b04b;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    p {
      color: #404f5e;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size: 20px;
      margin: 0;
    }
    i {
      color: #9abc66;
      font-size: 100px;
      line-height: 200px;
      margin-left: -15px;
    }
    .card {
      background: white;
      padding: 60px;
      border-radius: 4px;
      box-shadow: 0 2px 3px #c8d0d8;
      display: inline-block;
      margin: 0 auto;
    }
  </style>
  <body>
    <nav
        class="navbar navbar-dark-sm navbar-expand bg-black sticky-top d-flex justify-content-between"
      >
        <div>
          <img id="cvr-logo" src="assets/logos/cvr.jpeg" />
          <img id="ciencia-logo-inv" src="assets/logos/Logo-Loop.gif" />
        </div>

        <ul class="nav nav-navbar">
          <li class="nav-item">
            <a class="nav-link" href="/" id="nav-home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#about" id="nav-about">About</a>
          </li>
          <div class="dropdown me-3">
            <a
              class="btn btn-secondary dropdown-toggle bg-black text-primary"
              href="#"
              role="button"
              id="dropdownMenuLink-conv"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Conveners
            </a>

            <ul
              class="dropdown-menu bg-black"
              aria-labelledby="dropdownMenuLink-conv"
            >
              <li>
                <a class="dropdown-item text-primary" href="/#faculty-conveners"
                  >Faculty Conveners</a
                >
              </li>
              <li>
                <a class="dropdown-item text-primary" href="/#student-conveners"
                  >Student Conveners</a
                >
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <a
              class="btn btn-secondary dropdown-toggle bg-black text-primary"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Events
            </a>

            <ul
              class="dropdown-menu bg-black"
              aria-labelledby="dropdownMenuLink"
            >
              <li>
                <a class="dropdown-item text-primary" href="/technical_events"
                  >Technical Events</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item text-primary"
                  href="/non-technical_events"
                  >Non-Technical Events</a
                >
              </li>
              <li>
                <a class="dropdown-item text-primary" href="/special_events"
                  >Special Events</a
                >
              </li>
              <li>
                <a class="dropdown-item text-primary" href="/paper_presentation"
                  >Paper Presentation</a
                >
              </li>
              <li>
                <a class="dropdown-item text-primary" href="/project_expo"
                  >Project Expo</a
                >
              </li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/#gallery" id="nav-gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-us" id="nav-cu">Contact Us</a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link">Register!</a>
          </li>
        </ul>
      </nav>

    <div class="card">
      <div
        style="
          border-radius: 200px;
          height: 200px;
          width: 200px;
          background: #d2e2bb;
          margin: 0 auto;
        "
      >
        <i class="checkmark">✓</i>
      </div>
      <h1>Success!</h1>
      <p>Your unique ID is: <%= uniqID %></p>
    </div>
  </body>
</html>
