@font-face {
  font-family: CG-omega;
  src: url(../fonts/CGOmega.ttf);
}
.container-fluid {
  padding: 0;
}
#cvr-logo {
  height: 80px;
  width: 80px;
}
#cvr-logo-us{
  width: 300px;
  margin: 5px;
}
#ciencia-logo-inv {
  height: 100px;
  width: 100px;
}
#page-intro {
  background-image: url("../assets/bg/djnight-blur.jpg");
  height: 870px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(1, 2, 2);
  text-shadow: 2px 2px 5px rgb(194, 180, 180);
}
#about {
  padding: 50px;
  background-image: url("../assets/bg/dark-blue-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.about-card {
  height: 600px;
  width: 75%;
  padding: 50px;
  border: 1px solid grey;
  box-shadow: 10px 10px 5px rgb(180, 165, 165);
  margin: 20px;
  background-color: rgba(255, 0, 0, 0.493);
  text-align: center;
}
.about-card#about-college{
  height: 600px;
}
#ciencia-logo {
  height: 300px;
}

#main-gate {
  height: 250px;
}
#acc-logo {
  height: 120px;
}
.navbar {
  height: 100px;
}
#dropdownMenuLink {
  border: none;
}

.fac-main-img {
  height: 300px;
}
.fac-main-card {
  border: 3px solid rgb(34, 28, 28);
  box-shadow: 10px 10px 5px rgb(27, 23, 23);
}

@media all and (min-width: 650px) {
  .fac-main-card:hover {
    transform: scale(1.25);
    /* height: 355px;
    width: auto; */
  }
}

#conveners {
  background-image: url("../assets/bg/dark-green.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.conve-img {
  height: 200px;
}

.conve-card-main#sc {
  height: 300px;
  width: 400px;
}
.conve-card {
  height: 900px;
  width: 75%;
  padding: 50px;
  border: 1px solid grey;
  box-shadow: 10px 10px 5px rgb(180, 165, 165);
  margin: 20px;
  background-color: rgba(72, 150, 124, 0);
  text-align: center;
}
.conve-card-main {
  border: 1px solid rgb(8, 20, 15);
  box-shadow: 0 10px 10px 5px rgb(107, 146, 130),
    0 10px 10px 5px rgb(107, 146, 130);
  height: 370px;
  width: 270px;
  margin: 10px;
  padding: 10px;
}

#contact-us {
  background-color: rgb(71, 16, 6);
  color: white;
  font-size: 24px;
}

#cu-details{
  margin: 15px;
}
#cvr-font-home{
  font-size: 5rem; 
  font-family: CG-omega
}
@media only screen and (max-width: 922px){
html,body{
  overflow-x: hidden;
}
#dropdownMenuLink-conv{
  display: none;
}
#dropdownMenuLink-cu{
  display: none;
}
#nav-about{
  display: none;
}
#nav-gallery{
  display: none;
}
#nav-cu{
  display: none;
}
#cvr-logo {
  height:50px;
  width: 50px;
}
#ciencia-logo-inv {
  height: 50px;
  width: 50px;
}

#page-intro{
  height: 600px;
}

#main-ciencia-logo{
  width: 200px;
}

.about-card{
  height: 400px;
  font-size: 10px;
  padding: 3px;
  width: 88%;
}
#ciencia-logo {
  height: 100px;
}

#acc-logo{
  height: 60px;
  width: 100px;
}
#faculty-conveners{
  width: 300px;
}
.fac-main-img{
  height: 100px;
}

.conve-img{
  height: 100px;
}

.conve-card{
  width: 100px;
  padding: 2px;
  margin: 0px;
}

.conve-card-main#sc{
  width: 150px;
  margin: 0px;
  padding: 0px;
}
.conve-card-main{
  width: 100px;
  height: 75px;
}
#gov-body{
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  /* justify-content: space-between; */
}
.about-card#about-head{
  height: 600px;
  
}
.fac-main-card{
  width:75%;
  margin: 5px;
}
.conve-card-main#sc{
  height: 175px;
}
#faculty-conveners{
  justify-content: space-around!important;
  height: 600px;
  width: 95%;
}
div#sc.conve-card-main{
  margin: 8px;
}
#student-conveners{
  justify-content: center!important;
  height: 1000px;  
  width: 95%;
}
#stud-conv-bot{
  flex-direction: column;
}
#stud-conv-bot .conve-card-main{
  height: 170px;
  width: 165px;
}

#contact-us{
  font-size: 10px;

}
#cu-bot{
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#page-intro-det{
  font-size: small;
  width: 75%;
}
#cvr-font-home{
  font-size: 2rem;
}
}

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 30px; /* change this to change the size*/
  
}